{% load static %}

<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Temp- dashboard</title>
   </head>
   <body>
      <div class="wrapper">
         <div >
               <a href="index.html">
               <img src="images/logo.png" class="img-fluid" alt="">
               <span style="color:#ee712b">FundiBots </span>
               </a>
              
            </div>
            <div>
               <li class="active">
                  <a><span>Dashboard</span></a>       
               </li>
            </div>
         </div>
        
         <div>
            {% if temperature %}
            <div><h2><span>{{temperature}} &deg;C</span></h2></div>
            {% else %}
            <h4> No temperature data available </h4>
            {% endif %}
         </div>
         <div>
            <h4>Temperature change</h4>
         </div>
      <footer>
         <div>
            Copyright 2020 <a href="#">FundiBots</a> All Rights Reserved.
         </div>
        
      </footer>
   </body>
</html>
